@import url('https://fonts.googleapis.com/css2?family=Syne:wght@561&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient-primary: linear-gradient(90deg, #fdfefc, #f5f5f5, #dbdce8);
  --gradient-secondary: linear-gradient(90deg, #f4fdfc, #e9ecee, #f5f5f5);
}

body {
  font-family: 'Syne', sans-serif;
  background: #050505;
  color: #ffffff;
}

.gradient-text {
  background: var(--gradient-primary);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-bg {
  background: var(--gradient-primary);
}

.gradient-button {
  background: var(--gradient-secondary);
  transition: all 0.3s ease;
}

.gradient-button:hover {
  opacity: 0.9;
}
